/* reset */

body{
	font: normal 16px 'Noto Sans KR', sans-serif; 
    font-weight: 400;
    line-height: 1.4;
    color: #000;
    background-color: #fff;
    margin: 0;
    padding: 0;
    word-spacing: -.5px;
    letter-spacing: -1px;
}

*{
	font: normal 16px 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

b, strong {font-weight: 700;}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin: 0;
	padding: 0;
}

ul, ol {list-style:	none;}
a {color: #000; text-decoration: none;}
em {font-style: normal;}
p {line-height: 1.63;}

/* layout */
.header_top{width: 100%;height: 100px; display: flex;justify-content: center;  border-bottom: 1px solid #b1b5b9;}
.header_top .inner{position: relative; width: 100%;height: 100%;}
.header_bottom{width: 100%; height: 74px; display: flex;justify-content: center;  border-bottom: 1px solid #b1b5b9;}
.header_bottom .inner{ position: relative ; width: 1170px; height: 100%;}


/* header */
h1.logo {text-align: center; position: absolute;top: 25%; left: 40%;}
h1.logo > a{display: inline-block; width: 239px; height: 25px; }
ul.header_util {padding: 5px 20px;position: absolute; top: 36.5%;right: 250px; }
ul.header_util .lang > a{margin-left:25px}
ul.header_util a{font-weight: 600; }
ul.lang_box{margin-top: 5px; display: none;background-color: #fff; z-index: 200;}
ul.lang_box li{ padding: 5px 30px; border: 1px solid #b1b5b9;}
ul.gnb{width: 100%; height: 74px; display: flex; padding-right: 120px; justify-content: space-around;align-items: center;}
ul.gnb li a{font-size: 20px; font-weight: 600;}
li.gnb_list{width:234px; height: 70px; text-align: center; line-height: 74px;}
li.gnb_list:hover{border-top:4px solid #13A9A7 ;}
li.gnb_search{position: absolute;right: -80px; z-index: -1;}
li.gnb_search img{right: 20px; z-index: 1;}
/* lnb */

.lnb{ margin-top: 1px; width: 100%;position: relative;}
.lnb_inner{display: flex;justify-content: space-between;position: fixed;z-index: 9999;background-color: #fff;display: none;}
ul.lnb_list{width: 200px; height:367px; padding:17px 17px 0px;border-right:1px solid #b1b5b9;}
ul.lnb_list:last-child{border-right: 0px;}
ul.lnb_list > li{padding: 8px 0px;}
ul.lnb_list > li a{font-size: 17px;font-weight: 600;}
ul.lnb_list > li a:hover{color:#13A9A7;}

/* main */
.slider{position: relative; overflow: hidden;}
.slider > ul {display:inline-flex;}
li.box { width: 1920px; height: 400px; background: url(/img/mainImg1.png);}
.box:nth-child(2){background: url(/img/mainImg2.png);}
.box:nth-child(3){background: url(/img/mainImg3.png);}

/* contents */
.mainItem{display: flex; width: 100%; justify-content: center;}
.main_item{width: 1300px; height: 350px;margin-top: -50px; z-index: 9999; border-radius: 15px;box-shadow: 5px 5px 5px rgb(0 0 0 / 12%);}
.main_item > div{float: left; width: 433px;height: 100%;}
.Item1{border-bottom-left-radius: 15px;border-top-left-radius: 15px;background: #1358a8;display: flex;justify-content: center;}
.Item1 li{color: #fff;text-align: center;padding: 50px;}
.main_title{font-size: 1.471em;font-weight: 600;margin:0 0 0.6em;}
.main_txt{font-size: 1.118em;font-weight: 500;line-height: 1.4;}
form{display: flex;justify-content: center;margin-top: -20px;}
input[type="text"]{width: 264px;height: 43px;background: #fff;border: 0;border-radius: 10px 0 0 10px;padding: 0 15px;font-size: 1rem;}
form button{cursor: pointer;width: 73px;height: 43px;border-radius: 0 10px 10px 0;background: #00afb1;border: 0;display: flex;align-items: center;justify-content: center;font-size: 1rem;color: #fff;font-weight: 500;}
.main_item1{display: flex;width: 333px;height: 44px;justify-content: center;border: 1px solid #fff;border-radius: 8px;overflow: hidden;margin-top: 0.8em;margin-left: 15px;}
.main_item1 .sel.on{background: #13427a;color: #00fcfd;width: 50%;padding: 0.5em;}
.main_item1 .sel:first-child{border-right: 1px solid #fff;}
.main_item1 .sel{width: 50%;color: #fff;padding: 0.5em;font-weight: 700;background: #1358a8;border: 0;cursor: pointer;}
.main_item2{margin-top: -20px;}
.Item2{background-color: #e4e8f0; display: flex; justify-content: center;}
.Item2 li{padding: 50px;text-align: center;}
.Item2 .sel{width: 163px; height: 53px;background: #1358a8;color: #fff;border: 0; border-radius: 15px;font-weight: 700;font-size: 17px;}
.Item2 .sel2{width: 100%; margin-top: 0.8em; font-weight: 600;height: 3.118em; border: 1px solid #1358a8; color: #1358a8;background: #fff;border-radius: 15px;}
.Item3{border-bottom-right-radius: 15px;border-top-right-radius: 15px;background-color: #fff;display: flex;justify-content: center;}
.Item3 li{text-align: center;padding: 50px;}
.Item3 .sel{width: 100%; height: 53px;background: #1358a8;color: #fff;border: 0; border-radius: 15px;font-weight: 700;font-size: 17px;}
.Item3 .sel2{width: 100%; margin-top: 0.8em; font-weight: 600;height: 3.118em; border: 1px solid #1358a8; color: #1358a8;background: #fff;border-radius: 15px;}

.btn_slide{position: absolute;bottom: 100px;left: 320px;}
.btn_slide li{margin-right: 15px;}
.btn_slide li button{border-radius: 15px; border: 0; width: 12px; height: 12px;}

.cont2{ width: 100%; height: 600px; display: flex; justify-content: center;padding-top: 50px;}
.cont2_item{width:1300px; height: 100%;}
.cont2_title{width: 100%; height: 100px;display: flex;justify-content: center;align-items: center; font-size:39.1px; font-weight: 700;}
.cont2_main ul{display: flex;justify-content: space-between;}
.cont2_main li{position: relative; width: 310px; height: 405px; border-radius: 15px; border: 1px solid #797c7f;}
.cont2_main .main_list {position: absolute;top: 20px; left: 30px; text-align: center; width: 60px; height: 20px;line-height: 20px; border-radius: 0; font-size: 16px; padding: 7px 9px;background:#53979a; color: white;}
.cont2_main .cont2_txt{position: absolute;top: 80px; left: 20px;width: 270px; height: 190px;}
.cont2_main .cont2_txt h2{font-size: 19px; font-weight: 700;}
.cont2_main .cont2_txt p{font-size: 19px; color: #797c7f; padding-top: 15px;}
.cont2_main .cont2_footer{position: absolute;bottom: 0px;width: 100%;text-align: center;}
.cont2_main .cont2_footer p{padding: 10px;border-top: 1px solid #797c7f;font-size: 19px; text-overflow:ellipsis;font-weight: 700;}

.cont3 {width: 100%; height: 881px; background-color: #343F53;display: flex;align-items: center;}
.cont3_item{width: 1300px; height: 661px; margin: 0 auto;}
.cont3_title{color: white; font-size: 35px;text-align: center;}
.cont3_title h2{font-weight: 600;}
.cont3_item .cont3_main{height: 582px; margin-top: 30px; display: flex; justify-content: space-between;}
.cont3_item .cont3_main .main1_top{background-color: #13a9a7;border-top-left-radius: 15px; border-top-right-radius: 15px;}
.cont3_item .cont3_main .main1{width: 650px; height: 582px; border-radius: 15px;}
.cont3_item .cont3_main img{border-top-left-radius: 15px; border-top-right-radius: 15px;}
.cont3_item .cont3_main .main1_bottom{ width: 570px; height: 95px; background-color: #13a9a7; padding: 30px 40px; border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;}
.cont3_item .cont3_main .main1_bottom .category{font-size: 17px; color: #fff; font-weight: 600; text-decoration: underline;}
.cont3_item .cont3_main .main1_bottom .title{font-size: 1.471rem; color: #fff; font-weight: 600; line-height: 1.4em;}
.cont3_item .cont3_main .main2{width: 625px;height: 582px; display: flex; flex-wrap: wrap; justify-content: space-between;}
.cont3_item .cont3_main .main2 a{width: 228px; height: 215px; padding: 30px;color: #fff; border-radius: 10px;display: flex;flex-direction: column;}
.cont3_item .cont3_main .main2 a .title{font-size: 23px;font-weight: 500;}  
.cont3_item .cont3_main .main2 a .txt{font-size: 18px; font-weight: 500; line-height: 1.2;}
.cont3_item .cont3_main .main2 .news1{background-image: url(/img/imageSrc3.png); background-size: cover;}
.cont3_item .cont3_main .main2 .news2{background-image: url(/img/imageSrc4.png); background-size: cover;}
.cont3_item .cont3_main .main2 .news3{background-image: url(/img/imageSrc5.png); background-size: cover;margin-top: 20px;}
.cont3_item .cont3_main .main2 .news4{background-image: url(/img/imageSrc6.png); background-size: cover;margin-top: 20px;}

.cont4{width: 1300px; height: 800px;margin: 0 auto;}
.cont4 .cont4_item h2{font-size: 2.3em; color: #000; font-weight: 600; text-align: center;padding-top: 70px;}
.cont4 .cont4_list{display: flex; justify-content: space-around;margin-top: 50px;}
.cont4 .cont4_list a{width:282px; height: 218px; border-radius: 15px;border: 1px solid #b1b5b9;}
.cont4 .cont4_list .img{width: 100%; height: 136px;}
.cont4 .cont4_list .title{font-size: 20px; font-weight: 600; color: #000; display: flex; justify-content: center;line-height: 70px;}